# Node rules:
##忽略資料夾：
node_modules/
.vscode/
.git/
logs/*.log
##忽略檔案：
json.sqlite
.env
eula.txt
test.js
json.sqlite.code.js
Config.js
##忽略的設定檔：
Root/Web/
Root/Plugins/discord/guild/corss_server/
Root/Plugins/TaiwanEarthQuake/
Storage/*.json
#Root/Language/
#無
