# Node rules:
##忽略資料夾：
node_modules/
.vscode/
.git/
logs/*.log
Root/webs/public
Root/webs/routes
Root/webs/views
##忽略檔案：
#package-lock.json
*.zip
json.sqlite
.env
eula.txt
test*.js
json.sqlite.code.js
##忽略的設定檔：
Storage/**/*.json
Storage/*.json
!Storage/premium.json
#Root/Language/
#無
