# Node rules:
##忽略資料夾：
node_modules/
.vscode/
.git/
logs/*.log
##忽略檔案：
json.sqlite
.env
eula.txt
test.js
database.js
##忽略的設定檔：
Root/Plugins/TaiwanEarthQuake/
Root/Plugins/discord/storage/*.json
#Root/Language/
#無
