.info .container {
	min-height: auto;
}
.embed_generator {
	float: right;
	position: relative;
	bottom: 0;
	right: 0;
	min-height: 100px;
	height: auto;
	width: auto;
	padding: 20px;
}
.embed_generator iframe {
	border: 40px;
	height: 700px;
	width: 600px;
}
