* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./../assets/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  font-family: sans-serif;
}
.avatar {
  width: 100px;
  height: 100px;
  margin: 75px 0;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.form-box {
  width: 380px;
  height: 520px;
  position: relative;
  margin: 6% auto;
  background: rgba(255, 255, 255, 0.808);
  padding: 5px;
  overflow: hidden;
}
.button-box {
  width: 220px;
  margin: 130px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: 0.5s;
}
.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-group [type="button"]:hover {
  cursor: pointer;
  background: linear-gradient(to right, #717ba1, #4a418f);
  color: #ffffff;
}
.input-group [type="submit"]:hover {
  cursor: pointer;
  background: linear-gradient(to right, #da4e35, #b5c908);
  color: #ffffff;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}
.check-box {
  margin: 30px 10px 30px 10px;
}
.discord-btn {
  width: 80%;
  padding: 10px 30px;
  transform: translate(0, 0);
  cursor: pointer;
  display: block;
  margin: 10px 0;
  background: linear-gradient(to right, #7289da, #6a5acd);
  border: 0;
  outline: none;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.discord-btn:hover {
  width: 80%;
  padding: 10px 30px;
  transform: translate(0, 0);
  cursor: pointer;
  display: block;
  margin: 10px 0;
  background: linear-gradient(to right, #5465a1, #514a80);
  border: 0;
  outline: none;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.login_or hr {
  border: 0;
  height: 1px;
  background: #c2c2c2;
  margin: 5px;
}
.check-box-text {
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}

#login {
  left: 50px;
}
#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
#login-error-msg {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
  visibility: hidden;
}
#error-msg-second-line {
  display: block;
}

#register {
  left: 450px;
}
