* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main {
  height: 100%;
  width: 100%;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  font-family: sans-serif;
}
.avatar {
  width: 100px;
  height: 100px;
  margin: 75px 0;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.form-box {
  width: 380px;
  height: 520px;
  position: relative;
  margin: 6% auto;
  background: rgba(255, 255, 255, 0.808);
  padding: 5px;
  overflow: hidden;
  animation: fadeIn 1.5s;
}

.button-box {
  width: 220px;
  margin: 130px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ffa0241f;
  border-radius: 30px;
}
.toggle-btn {
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ffa500, #ffff00);
  border-radius: 30px;
  transition: 0.5s;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
}
.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-group [type="button"]:hover {
  cursor: pointer;
  background: linear-gradient(to right, #717ba1, #4a418f);
  color: #ffffff;
}
.input-group [type="submit"]:hover {
  cursor: pointer;
  background: linear-gradient(to right, #ffa500, #ffff00);
  color: #ffffff;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ffa500, #ffff00);
  border: 0;
  outline: none;
  border-radius: 30px;
  animation: fadeIn 5s;
}
.check-box {
  margin: 30px 10px 30px 10px;
}
.discord-btn {
  width: 80%;
  padding: 10px 30px;
  transform: translate(0, 0);
  cursor: pointer;
  display: block;
  margin: 10px 0;
  background: linear-gradient(to right, #7289da, #6a5acd);
  border: 0;
  outline: none;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  animation: fadeIn 0.5s;
}
.discord-btn:hover {
  width: 80%;
  padding: 10px 30px;
  transform: translate(0, 0);
  cursor: pointer;
  display: block;
  margin: 10px 0;
  background: linear-gradient(to right, #5465a1, #514a80);
  border: 0;
  outline: none;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.login_or hr {
  border: 0;
  height: 1px;
  background: #c2c2c2;
  margin: 5px;
}
.check-box-text {
  color: #777;
  font-size: 12px;
  bottom: 66px;
  position: absolute;
}

.inputBox {
  position: relative;
  width: 100%;
}
.inputBox input {
  background-color: #c2c2c2;
  border-radius: 4px;
  position: relative;
  width: 235px;
  padding: 20px 10px 7.5px;
  font-weight: 500;
  font-size: 1em;
  border: none;
  outline: none;
  padding-left: 36px;
}
.inputBox i {
  position: absolute;
  top: 2px;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  transition: 0.5s;
  pointer-events: none;
  color: #535353;
  text-shadow: #c2c2c2;
  font-weight: bold;
  left: 25px;
}
.inputBox input:focus ~ i,
.inputBox input:valid ~ i {
  transform: translateY(-9.0px);
  font-size: 0.75em;
  color: rgb(56, 56, 56);
}

.show-password {
  position: absolute;
  top: calc(50% - 10px);
  right: calc(7% - 10px);
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: #777;
  display: flex;
}
.show-password::before {
  content: url("./../assets/visibility.svg");
}
.show-password.hide::before {
  content: url("./../assets/visibility_off.svg");
}
.userimg,
.passwordimg {
  position: absolute;
  top: calc(50% - 10px);
  left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: #777;
  display: flex;
}
.userimg {
  content: url("./../assets/account_circle.svg");
}
.passwordimg {
  content: url("./../assets/key.svg");
}

#login {
  left: 50px;
}
#register {
  left: 450px;
}

/* The Error message box */
.login-error-msg {
  padding: 15px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}

.use-cookie-alert {
  padding: 20px;
  background-color: #ff9800;
  color: white;
  margin-bottom: 15px;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: opacity 0.6s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
